<form [formGroup]="featureForm" (ngSubmit)="onSubmit()">
    <div id="nameLabel">
        <label for="feature-name">Feature Name:</label>
        <input id="feature-name" type="text" formControlName="featureName">
    </div>
    <label for="description">Description:</label>
    <div id="descriptionLabel">
        <input id="description" type="text" formControlName="description">
    </div>
    <button id="button" type="submit">Create</button>
    <button id="button" (click)="onClose()">Close</button>
</form>
