:host {
    display: block;
    background-color: #222;
    color: beige;
    border-radius: 20px;
    padding: 20px;

    #title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.5;
    }

    .stats {
        font-size: 17px;
        font-weight: 700;
        line-height: 1.5;
    }

}