.board {
    display: flex;
    flex-wrap: wrap;

    .newProjectButton {
        display: flex;
        align-items: center;
        color: beige;
        border-radius: 20px;
        height: 60px;
        align-self: center;
        cursor: pointer;
        background-color: #222;
        border-radius: 4px;
        border-style: none;
        box-sizing: border-box;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5;
        border-radius: 20px;
    }
    .newProjectButton:hover{
        opacity: 0.75;
    }

    .project {

        margin: 20px;
    }
}